{minimum_otp_vsn, "25"}.
{erl_opts, [warnings_as_errors]}.

{shell, [njson]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {bin_opt_info, [
        {erl_opts, [bin_opt_info]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}},
            {triq, {git, "git@github.com:nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]},
    {bench, [
        {deps, [
            {jsone, {git, "git@github.com:sile/jsone.git", {branch, "master"}}},
            thoas,
            {eflambe, {git, "git@github.com:Stratus3D/eflambe.git", {branch, "master"}}},
            {erlperf, {git, "git@github.com:max-au/erlperf.git", {branch, "master"}}}
        ]},
        {extra_src_dirs, [{"bench", [{recursive, false}]}]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true --verbose"},
        {cover, "-m 75"}
    ]},
    {ci_test, [
        {ct, "--spec test/conf/ci_test.spec --cover --readable true"},
        {cover, "-m 75"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [njson]}.
